*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*.un~
*~
*~.nib
.*.s[a-w][a-z]
.buildpath
.classpath
.cproject
.externalToolBuilders/
.loadpath
.metadata
.netrwhist
.project
.settings/
Session.vim
bin/**
local.properties
tmp/**
tmp/**/*
.gradle/
